
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    height: 100vh;
    width: 100%;
    background-color: #121321;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

section::before{
    content:"";
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg, #4D1979, white);
    transform: translate(-150px, -100px);
    border-radius: 50%;
}

section::after{
    content:"";
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg, #4D1979, white);
    transform: translate(150px, 100px);
    border-radius: 50%;
}

.container{
    height: 275px;
    width: 450px;
    position: relative;
    z-index: 100;
    transition: 0.7s;
    transform-style: preserve-3d;
}   

.container .card{
    height: 100%;
    width: 100%;
    background: rgb(255,255,255,0.1);
    border-radius: 25px;
    box-shadow: 15px 7px 45px rgb(255,255,255,0.2);
    backdrop-filter: blur(25px);
    padding: 25px;
    position: absolute;
    backface-visibility: hidden;
}

.container:active{
    transform: rotateY(180deg);
}

.logo {
    height: 70px;
    width: 48px;
    display: flex;
}

.card .name{
    float: right;
    font-weight: bold;
    padding-right: 15px;
    position: relative;
    
}

.frog-fountain{
    display: flex;
    height: 170px;
    padding: 5px;
}

.avatar{
    display: flex;
    height: 140px;
    align-self: baseline;
    position: relative;
    right: -38px;
    top: 21px;
}

.card .magnet{
    height: 50px;
    width: 100%;
    background-color: black;
    position: relative;
}

.card .info{
    font-size: 10px;
    margin-top: 3px;
}

.card .contact{
    margin-top: 15px;
    font-weight:bold;
    text-decoration: underline;
}

.info .phone-number{
    padding-left: 73px;
}

.info .support-line{
    padding-left: 42px;
}

.frog-shield{
    font-weight: bold;
    font-size: 10px;
    display: flex;
    justify-content:right;
    position: relative;
    top: -20px;
    right: 40px;
}

.qrcode{
    display: flex;
    height: 100px;
    justify-content: right;
    top: -60px;
    position: relative;
    right: 15px;
}

.card.back-face{
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
}

